<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for("static", filename="styles.css")}}">

  <title>Document</title>
  <h1>Bem vindo!</h1>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab quos reiciendis culpa praesentium asperiores tempore iure eaque fuga eligendi reprehenderit labore eos inventore placeat voluptatum necessitatibus, esse tempora illo numquam.
  </p>
</head>
<body>
  
</body>
</html>
